.mainbackground{
	background-color:#dddddd;
	width: 100%;
	padding-bottom: 40px;
}

.bigbox {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	float: left;
	color: white;
	background-color:#4aaaa5;
	padding: 20px;
}

li  {
    float: right;
    display: block;
    padding: 20px;
}

#subheader{
	color: #4aaaa5;
	 border-bottom: 5px solid #dddddd;
	 margin: 15px;
	
}

.main {
	clear: both;
	background-color: white;
}



#picture{
	float: left;
	margin: 15px;
}

p {
	margin: 15px;
}

.tealbottom{
	background-color:#4aaaa5;
	color: #4aaaa5;
	margin-top: 0px;
	margin-bottom: 0px;
}
.copyright{
	clear: both;
	text-align: center;
	background-color: #666666;
	padding-top: 7px;
	
}



/* Portfolio */



.pictures{
	clear: both;
}

/* Contact*/

form {
	padding: 15px;

}

.submit {
	background-color:#4aaaa5 ;
}

.message{
	height: 100px;
	width: 100%;
}

.name {
	width: 100%;
}

.email{
	width: 100%;
}